<template name="sideNav">
  <div class="mdl-layout__drawer">
   <span class="mdl-layout-title">
     <a href="/" class="drawer-title"> Without
    <img src="logo.png" width="60" height="60"  alt="">
    Destination</a></span>

    <nav class="mdl-navigation">
        <a class="mdl-navigation__link hvr-underline-reveal" href="/trips">My trips</a>
        <a class="mdl-navigation__link hvr-underline-reveal" href="/sort">Awesome sorting</a>
        <a class="mdl-navigation__link hvr-underline-reveal" href="/about">About me</a>
      </nav>


  </div>
</template>
