<!-- Uses a transparent header that draws on top of the layout's background -->

<template name="HomeLayout">
  <body>
    <div class="demo-layout-waterfall mdl-layout mdl-js-layout mdl-layout--no-desktop-drawer-button">
      <header class="mdl-layout__header mdl-layout__header--waterfall header">
        <!-- Top row, always visible -->
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <div class="mdl-layout-spacer"></div>
          <span class="mdl-layout-title">Without
          <img src="logo.png" width="60" height="70"  alt="">
          Destination</span>
          <div class="mdl-layout-spacer"></div>
        </div>
        <!-- Bottom row, not visible on scroll -->
    {{>Nav}}
      </header>
    {{> SideNav}}
      {{> Billboard}}

      <main class="mdl-layout__content row content bg">
        <div class="page-content "><!-- Your content goes here --></div>
      </main>
    </div>
  </body>
</template>
